.textbody {
  padding: 10px 50px;
  border-radius: 15px;
}

.center {
  align-content: center; 
  margin: 0 auto;
}

table tr:nth-child(odd) td {
  background-color: #bcdcdc
}

table tr:nth-child(even) td {
  background-color: #dbecec
}

table tr th {
  background-color: #a2ecec;
}